<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>image</th>
    <th>Logo</th>
    <th>Cust name</th>
    <th>Adress</th>
    <th>Email</th>
    <th>Phone</th>
    <th colspan="2">Action</th>
  </tr>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.image %></td>
        <td><%= customer.logo %></td>
        <td><%= customer.cust_name %></td>
        <td><%= customer.adress %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>

<br>
<div class="button">
  <%= link_to 'New Customer', new_customer_path, style: "float: right" %>
</div>
