<p id="notice"><%= notice %></p>
<div class="center">

  <div class="field">
    <strong>Cust name:</strong>
    <%= @customer.cust_name %>
  </div>

  <div class="field">
    <strong>Adress:</strong>
    <%= @customer.adress %>
  </div>

  <div class="field">
    <strong>Email:</strong>
    <%= @customer.email %>
  </div>

  <div class="field">
    <strong>Phone:</strong>
    <%= @customer.phone %>
  </div>

  <div class="field">
    <strong>Logo:</strong>
    <%= @customer.logo %>
  </div>

  <div class="button7 button8">
    <%= link_to 'Edit', edit_customer_path(@customer) %> 
  </div>
  
  <div class="button7 button8">
    <%= link_to 'Back', customers_path %>
  </div>

</div>
