<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Banner</th>
      <th>Camp name</th>
      <th>Cust name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Amount Of Days</th>
      <th>State</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.banner %></td>
        <td><%= campaign.camp_name %></td>
        <td><%= campaign.customer.cust_name %></td>
        <td><%= campaign.st_date.strftime('%d.%m.%Y') %></td>
        <td><%= campaign.ed_date.strftime('%d.%m.%Y') %></td>
        <td><%= campaign.amount_of_days %></td>        
        <td><%= campaign.assign_the_state %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div class="button">
  <%= link_to 'New Campaign', new_campaign_path, style: "float: right" %>
</div>