<p id="notice"><%= notice %></p>
<div class="center">

  <div class="field">
    <strong>Camp name:</strong>
    <%= @campaign.camp_name %>
  </div>

  <div class="field">
    <strong>St date:</strong>
    <%= @campaign.st_date %>
  </div>

  <div class="field">
    <strong>Ed date:</strong>
    <%= @campaign.ed_date %>
  </div>

  <div class="field">
    <strong>Licenses:</strong>
    <%= @campaign.licenses %>
  </div>

  <div class="field">
    <strong>Banner:</strong>
    <%= @campaign.banner %>
  </div>
  
  <div class="button7 button8">
    <%= link_to 'Edit', edit_campaign_path(@campaign) %>
  </div>

  <div class="button7 button8">
    <%= link_to 'Back', campaigns_path %>
  </div>
</div>